<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @enrollment.sender_id %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @enrollment.batch_id %>
</p>

<p>
  <strong>Monitored by:</strong>
  <%= @enrollment.monitored_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
